<div class="week-view">
  <div class="week">
    <div class="day"  *ngFor="let dayValue of calendarDates; let i = index" (click)="openCreateEventModal($event ,dayValue)">
      <div class="day-name">{{ weekdays[i] }}</div>
      {{dayValue.day}}

      <ng-container *ngIf="dayValue.events">
        <div
          class="event"
          *ngFor="let event of dayValue.events; let i = index"
          (click)="openEditEventModal($event, event)"
          [style]="{top: (i + 1) * 22+'px'}"
        >{{ event.name }}</div>
      </ng-container>

    </div>
  </div>
</div>
